html {
  min-width: 1200px!important;
  font-family: 微软雅黑;
}
.headerbox .header {
  width: 1000px;
  padding: .3rem 0!important;
  display: flex;
  justify-content: space-between;
  margin: 0 auto!important;
}
.headerbox .header .header-logo img {
  width: 12rem;
}
.headerbox .header .header-tablist {
  display: flex;
  justify-content: space-between;
}
.headerbox .header .header-tablist .tab-item {
  font-size: 1rem;
  padding: .5rem 1.5rem;
}
.headerbox .header .header-tablist .tab-item a {
  display: block;
  text-decoration: none;
  color: black;
}
.headerbox .header .header-tablist .visit a {
  color: #b98d3a!important;
}
.banner {
  position: relative;
  min-width: 1200px;
  overflow: hidden;
}
.banner img {
  min-width: 1200px;
}
.footerbox {
  z-index: 9999;
  position: fixed;
  width: 100%;
  left: 0;
  background: #232323;
  bottom: 0;
}
.footerbox .footer {
  padding: 20px 0;
  color: white;
  width: 1000px;
  margin: 0 auto!important;
  display: flex;
  justify-content: space-between;
}
.footerbox .footer .footer-logo img {
  width: 80px;
}
.footerbox .footer .footer-content {
  padding-top: 10px;
}
.footerbox .footer .footer-content .content-item {
  margin-bottom: 5px;
  font-size: 14px;
}
.footerbox .footer .footer-content .content-item:last-child {
  margin-bottom: 0;
}
.footerbox .footer .footer-content .content-tel {
  display: flex;
  font-size: 26px;
  align-items: center;
  margin-bottom: 10px;
}
.footerbox .footer .footer-content .content-tel img {
  width: 30px;
  margin-right: 10px;
}
.footerbox .footer .footer-content .content-tel p {
  margin: 0!important;
}
.footerbox .footer .footer-code img {
  width: 110px;
}
.content {
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto 40px;
}
.content .content-tab {
  display: flex;
  justify-content: space-around;
}
.content .content-tab .tab-item {
  padding: 20px 15px;
  position: relative;
}
.content .content-tab .tab-item span {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 5px;
  left: 37px;
  bottom: 0;
  background: white;
}
.content .content-tab .tab-active {
  color: #b98d3a!important;
}
.content .content-tab .tab-active span {
  background: #b98d3a;
}
.content .content-box .box-list {
  transition: all .5s ease;
  position: relative;
  overflow: hidden;
}
.content .content-box .box-list .list-ul {
  transition: all 1s ease;
}
.content .content-box .box-list .list-ul .ul-li {
  padding: 0;
  display: flex;
  list-style: disc;
  justify-content: space-between;
  padding: 30px 20px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03);
  transition: .5s;
}
.content .content-box .box-list .list-ul .ul-li:hover {
  transform: scale(1.01, 1.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.content .content-box .box-list .list-ul .ul-li:hover .li-info {
  color: #b98d3a;
}
.content .content-box .box-list .list-content {
  transition: all .5s ease;
  position: absolute;
  width: 1200px;
  min-width: 1200px;
  left: 1200px;
  top: 0;
  height: 600px;
  border: 1px solid black;
  background: white;
}
.content .content-box .box-acitve {
  display: block;
}
.content .content-box .box-hidden {
  display: none;
}
.page {
  width: 1200px;
  min-width: 1200px;
  margin: 50px auto;
  font-size: 14px;
}
.page .page-box {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.page .page-box .page-item {
  padding: 5px 10px;
  border: 1px solid rgba(199, 154, 87, 0.51);
  margin-left: 10px;
}
.page .page-box .page-item:hover {
  border: 1px solid #c79a57;
  background: rgba(199, 154, 87, 0.51);
}
.page .page-box .active {
  background: #c79a57;
  color: white;
}
.project-item {
  width: 360px;
  transition: all .5s ease;
  margin-bottom: 20px;
}
.project-item:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -15px, 10px);
}
.project-item .item-img img {
  width: 100%;
}
.project-item .item-content {
  padding: 20px;
  border: 1px solid #cccccc;
}
.project-item .item-content .content-title {
  font-size: 18px;
  margin-bottom: 5px;
}
.project-item .item-content .content-alreadymoney {
  font-size: 14px;
}
.project-item .item-content .content-alreadymoney .money-numb {
  margin-left: 5px;
  font-size: 17px;
}
.project-item .item-content .content-member {
  display: flex;
  justify-content: space-between;
}
.project-item .item-content .content-member .member-info {
  font-size: 14px;
}
.project-item .item-content .content-member .member-info .member-numb {
  font-size: 17px;
}
.project-item .item-content .content-member .member-go {
  width: 50px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}
.home,
.about,
.news,
.publicmsg,
.project,
.donation {
  padding-bottom: 180px;
}
a {
  display: block;
  color: black!important;
  text-decoration: none!important;
}
ul {
  padding: 0;
  margin: 0;
}
.back-garden {
  background: #eba016;
  color: white;
}
.border-garden {
  border: solid 1px #ddc199;
  border-radius: 2px;
}
.text-garden {
  color: #b98d3a;
}
.text-lightgray {
  color: #aaaaaa;
}
.text-gray {
  color: #666666;
}
.text-black {
  color: black;
}
.text-red {
  color: red;
}
.text-blod {
  font-weight: bold;
}
.text-justify {
  text-align: justify;
}
.h-title {
  font-size: 24px;
  margin: 100px auto;
}
.form-must {
  color: red;
}
