.donation .content .content-box .box-list .list-step-title {
  margin: 40px 0 40px;
  display: flex;
  justify-content: space-between;
}
.donation .content .content-box .box-list .list-step-title .step-item .item-numb {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  background: #d9d9d9;
  color: white;
  margin-bottom: 20px;
  position: relative;
  transition: all .1s .4s ease;
}
.donation .content .content-box .box-list .list-step-title .step-item .item-numb .back-gray {
  position: absolute;
  left: 40px;
  top: 17.5px;
  height: 5px;
  width: 500px;
  background: #d9d9d9;
}
.donation .content .content-box .box-list .list-step-title .step-item .item-numb .back-progress1 {
  transition: all .5s ease;
  position: absolute;
  background: #44aded;
  left: 40px;
  top: 17.5px;
  height: 5px;
  width: 0;
}
.donation .content .content-box .box-list .list-step-title .step-item .item-numb .back-progress2 {
  transition: all .5s ease;
  position: absolute;
  background: #44aded;
  left: 40px;
  top: 17.5px;
  height: 5px;
  width: 0;
}
.donation .content .content-box .box-list .list-step-title .step-item .numb-active {
  background: #44aded;
}
.donation .content .content-box .box-list .list-step-content {
  position: relative;
  height: 1200px;
}
.donation .content .content-box .box-list .list-step-content .step-box1 {
  z-index: 101;
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  height: 1200px;
  transition: all .5s ease;
}
.donation .content .content-box .box-list .list-step-content .step-box1 .box1-form form .form-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.donation .content .content-box .box-list .list-step-content .step-box1 .box1-form form .form-item .form-text {
  width: 250px;
}
.donation .content .content-box .box-list .list-step-content .step-box1 .box1-form form .form-item .form-panel {
  width: 750px;
}
.donation .content .content-box .box-list .list-step-content .step-box2 {
  width: 100%;
  z-index: 100;
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  height: 1200px;
  transition: all .5s ease;
}
.donation .content .content-box .box-list .list-step-content .step-box2 .box2-title {
  margin-bottom: 80px;
}
.donation .content .content-box .box-list .list-step-content .step-box2 .form-group {
  display: flex;
  justify-content: space-between;
}
.donation .content .content-box .box-list .list-step-content .step-box2 .form-group .group-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.donation .content .content-box .box-list .list-step-content .step-box2 .form-group .group-item .item-info {
  width: 400px;
  background: white;
  padding: 10px 40px;
  border: 1px solid darkgrey;
  border-radius: 3px;
  margin-left: 30px;
}
.donation .content .content-box .box-list .list-step-content .step-box2 .form-group .group-item .item-info img {
  width: 36px;
  height: 36px;
}
.donation .content .content-box .box-list .list-step-content .step-box2 .pay-numb {
  font-size: 16px;
  margin: 120px auto 60px;
}
.donation .content .content-box .box-list .list-step-content .step-box2 .pay-numb .text-red {
  font-size: 22px;
  margin: 0 10px;
}
.donation .content .content-box .box-list .list-step-content .step-box2 .paybtn-box {
  display: flex;
  justify-content: center;
}
.donation .content .content-box .box-list .list-step-content .step-box2 .paybtn-box .paybtn {
  width: 170px;
  height: 36px;
  font-size: 16px;
  line-height: 36px;
  border-radius: 18px;
}
.donation .content .content-box .box-list .list-step-content .step-box3 {
  width: 100%;
  z-index: 100;
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  height: 1200px;
  transition: all .5s ease;
}
.donation .content .content-box .box-list .list-step-content .step-box3 .box3-content {
  margin: 40px auto;
  display: flex;
  justify-content: center;
}
.donation .content .content-box .box-list .list-step-content .step-box3 .box3-content .content-img img {
  width: 80px;
  height: 80px;
}
.donation .content .content-box .box-list .list-step-content .step-box3 .box3-content .content-msg {
  padding-top: 10px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
