.home .content-box {
  width: 1200px;
  margin: 40px auto 40px;
}
.home .content-box .box-list .list-item {
  padding: 20px 30px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 2px #cccccc;
  transition: all .5s ease;
}
.home .content-box .box-list .list-item:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -3px, 10px);
}
.home .content-box .box-list .list-item .item-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.home .content-box .box-list .list-item .item-head .head-title {
  font-size: 18px;
}
.home .content-box .box-list .list-item .item-head .head-date {
  font-size: 13px;
}
.home .content-box .box-list .list-item .item-content {
  font-size: 14px;
  margin-bottom: 15px;
}
.home .content-box .box-list .list-item .item-more {
  display: flex;
  flex-direction: row-reverse;
}
.home .content-box .box-list .list-item .item-more a img {
  width: 30px;
}
.home .content-box .box-project {
  margin-top: 30px;
}
.home .content-box .box-project .project-title {
  font-size: 22px;
  margin: 50px 0;
}
.home .content-box .box-project .project-list {
  display: flex;
  justify-content: space-between;
}
.home .map-box {
  padding: 40px 0;
  width: 100%;
  background: #f6f6f6;
}
.home .map-box .box-img {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}
