.donation{
  .content{
    .content-box{
      .box-list{
        .list-step-title{
          margin: 40px 0 40px;
          display: flex;
          justify-content: space-between;
          .step-item{
            .item-numb{
              margin: 0 auto;
              width: 40px;
              height: 40px;
              line-height: 40px;
              border-radius: 20px;
              background: #d9d9d9;
              color: white;
              margin-bottom:20px;
              position: relative;
              transition: all .1s .4s ease;
              .back-gray{
                position: absolute;
                left: 40px;
                top: 17.5px;
                height: 5px;
                width: 500px;
                background: #d9d9d9;
              }
              .back-progress1{
                transition: all .5s ease;
                position: absolute;
                background: #44aded;
                left: 40px;
                top: 17.5px;
                height: 5px;
                width: 0;
              }
              .back-progress2{
                transition: all .5s ease;
                position: absolute;
                background: #44aded;
                left: 40px;
                top: 17.5px;
                height: 5px;
                width: 0;
              }
            }
            .numb-active{
              background: #44aded;
            }
          }
        }
        .list-step-content{
          position: relative;
          min-height: 700px;
          .step-box1{
            z-index: 101;
            background: white;
            position: absolute;
            left: 0;
            top: 0;
            transition: all .5s ease;
            .box1-form{
              form{
                .form-item{
                  display: flex;
                  justify-content: space-between;
                  padding: 10px;
                  .anonymous-box,.bill-box{
                    display: flex;
                    .box-item{
                      width: 70px;
                      height: 34px;
                      text-align: center;
                      line-height: 32px;
                      border-radius: 18px;
                      color: #b1dc4e;
                      margin-right: 40px;
                      border: 1px solid #b1dc4e;
                    }
                    .item-active{
                      color: white;
                      background: #b1dc4e;
                    }
                  }
                  .form-text{
                    width: 250px;
                  }
                  .form-panel{
                    width: 738px;
                    .momey-box{
                      display: flex;
                      margin-bottom: 25px;
                      .momey-item{
                        text-align: center;
                        line-height: 32px;
                        height: 34px;
                        font-size: 16px;
                        width: 70px;
                        border-radius: 18px;
                        color: #f0b750;
                        border: 1px solid #f0b750;
                        margin-right: 40px;
                      }
                      .radio-active{
                        color: white;
                        background: #f0b750;
                      }
                    }
                    .money-input{
                     display: flex;
                      div{
                        width: 40px;
                        line-height: 40px;
                        margin-right: 10px;
                      }
                    }
                  }

                }
                .form-group{
                  #tobox2{
                    margin: 50px 0;
                    width: 200px;
                    background: #eba016;
                    outline: none;
                    border: none;
                    color: white;
                    height: 36px;
                    line-height: 34px;
                    border-radius: 20px;
                  }
                }
                .agreement{
                  display: flex;
                  a{
                    color: #44aded!important;
                  }
                }
              }
            }

          }
          .step-box2{
            width: 100%;
            z-index: 100;
            background: white;
            position: absolute;
            left: 0;
            top: 0;
            transition: all .5s ease;
            .box2-title{
              margin-bottom: 80px;
            }
            .form-group{
              display: flex;
              justify-content: space-between;
              .group-item{
                display: flex;
                justify-content: space-around;
                align-items: center;
                .item-info{
                  width: 400px;
                  background: white;
                  padding: 10px 40px;
                  border: 1px solid darkgrey;
                  border-radius: 3px;
                  margin-left: 30px;
                  img{
                    width: 36px;
                    height: 36px;
                  }
                }
              }
            }
            .pay-numb{
              font-size: 16px;
              margin: 120px auto 60px;
              .text-red{
                font-size: 22px;
                margin: 0 10px;
              }
            }
            .paybtn-box{
              display: flex;
              justify-content: center;
              .paybtn{
               width: 200px;
                height: 36px;
                font-size: 16px;
                line-height: 34px;
                border-radius: 18px;
              }
            }
          }
          .step-box3{
            width: 100%;
            z-index: 100;
            background: white;
            position: absolute;
            left: 0;
            top: 0;
            transition: all .5s ease;
            .box3-content{
              margin: 40px auto;
              //display: flex;
              //justify-content: center;
              .content-img{
                img{
                  width: 150px;
                  height: 150px;
                }
              }
              .content-msg{
                text-align: center;
                padding-top: 10px;
                margin-left: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
              }
            }
          }

        }
        .list-explan{
          .donation-explan{
            background: #f9f9f9;
            padding: 40px 30px;
            .explan-title{
              font-size: 20px;
              margin-bottom: 20px;
            }
            .explan-info{
              margin-bottom: 40px;
              font-size: 16px;
            }
          }
          .donation-else{
            .else-title{

            }
            .else-info{
              .info-item{
                font-size: 18px;
                margin-bottom: 20px;
              }
            }

          }
        }
        .list-searchbox{
          margin: 40px 0 40px;
          form{
            display: flex;
            justify-content: space-between;
              .search-name,.search-date{
                width: 400px;
                input{
                  margin-left: 20px;
                  width: 300px;
                }
              }
              .search-btn{
                outline: none;
                border: none;
                width: 80px;
                height: 40px;
                line-height: 32px;
                text-align: center;
                background: #d4b374;
                color: white;
                border-radius: 20px;
              }

          }
        }
        .list-table{
          tr{
            &:nth-child(1){
              background: #f4f4f4;
            }
          }
        }
      }
    }
  }
}