.home{
  .content-box{
    width: 1000px;
    margin: 40px auto 40px;
    .box-list{
      .list-item{
        padding: 20px 30px;
        margin-bottom: 10px;
        box-shadow: 0px 0px 2px #cccccc;
        transition: all .5s ease;
        &:hover{
          box-shadow: 0 10px 15px rgba(0,0,0,.1);
          transform: translate3d(0,-3px,10px);
        }
        .item-head{
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
          .head-title{
            font-size: 18px;
          }
          .head-date{
            font-size: 13px;
          }
        }
        .item-content{
          font-size: 14px;
          margin-bottom: 15px;
        }
        .item-more{
          display: flex;
          flex-direction: row-reverse;

            img{
              width: 30px;
              height: 30px;
            }
        }
      }
    }
    .box-project{
      margin-top: 30px;
      .project-title{
        font-size: 22px;
        margin: 50px 0;
      }
      .project-list{
        display: flex;
        justify-content: space-between;

      }
    }
  }
  .map-box{
    padding: 40px 0;
    width: 100%;
    background: #f6f6f6;
    .box-img{
      width: 1200px;
      min-width: 1200px;
      margin: 0 auto;
    }
  }
  .project-box{
    padding: 50px 0;
    .box1,.box2{
      width: 1000px;
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
  }
}

.carousel-indicators{
  bottom: 20px;
  li{
    width: 10px!important;
    height: 10px!important;
    border: 10x solid #cccccc!important;
    border-radius: 5px!important;
    margin-right: 20px;
  }
}
.carousel-item{
  height: 400px;
  img{

  }
  &:nth-child(1){
    background: url("../images/home-banner1.png") center top;
    background-size: cover;
  }
  &:nth-child(2){
    background: url("../images/home-banner1.png") center top;
    background-size: cover;
  }
  &:nth-child(3){
    background: url("../images/home-banner1.png") center top;
    background-size: cover;
  }
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 43%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}