<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>联系我们</title>
    <link rel="icon" type="image/x-icon" href="../images/title-logo.png" />
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../js/base.js"></script>
    <link rel="stylesheet" href="../css/base.css">
</head>
<body>
<div class="contactus">
    <div class="headerbox bg-white border-bottom box-shadow">
        <div class="header  align-items-center">
            <div class="header-logo" >
                <img src="../images/header-logo.png" alt="">
            </div>
            <div class="header-tablist ">
                <div class="tab-item  text-dark visit">
                    <a href="./home.html">首页</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./about.html">关于我们</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./news.html">新闻中心</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./publicmsg.html">信息公开</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./project.html">项目展示</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./donation.html">在线捐赠</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./contactus.html">联系我们</a>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="banner-name">联系我们</div>
        <img src="../images/contactus-banner.png" class="img-fluid" alt="">
    </div>
    <div class="content">
        <div class="content-tab border-bottom">
            <div class="tab-item">联系方式<span></span></div>
            <div class="tab-item">志愿者招募<span></span></div>
        </div>
        <div class="content-box">

            <div class="box-list ">
                <div class="list-specialcontainer">
                    <div class="special-explain">
                        <div class="explain-img">
                            <img src="../images/project-specialmoney1.png" alt="">
                            <img src="../images/project-specialmoney2.png" alt="">
                            <img src="../images/project-specialmoney3.png" alt="">
                            <img src="../images/project-specialmoney4.png" alt="">
                        </div>
                        <div class="explain-article">
                            <div class="article-box">
                                <div class="article-title">专项基金</div>
                                <div class="article-info text-gray text-justify">
                                    <div>捐赠人以支持扶贫、环保、教育、养老、健康等公益慈善事业为目的，在海南弘毅扶贫慈善基金会的基本账户下，
                                        设立专项基金科目，按照捐赠者的意愿，专款专用，
                                        并遵守基金会专项基金管理办法管理运作的专项基金。
                                    </div>
                                    <div>专项基金捐赠额度≥200万，可根据发起人/捐赠人意愿，由海南弘毅与专
                                        项基金发起人共同组成专项基金管理委员会，对专项基金实施监督、协调和管理</div>
                                </div>
                            </div>
                            <div class="article-box">
                                <div class="article-title">设立原则</div>
                                <div class="article-info text-gray text-justify">
                                    <p>1、符合海南弘毅扶贫慈善基金会的使命、愿景、宗旨与工作原则。</p>
                                    <p>2、以社会公益性为核心特征、致力于持续解决某一类社会问题。</p>
                                    <p>3、服务群体界定明确，且了解该特定人群的需求。</p>
                                    <p>4、对于基金管理使用、宣传、筹资有明确的计划，有专人管理。</p>
                                    <p>5、公益项目具有可行性分析，持续性强，可产生较大的社会影响力。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="special-harvest">
                        <div class="harvest-title text-blod text-center h-title">项目成果</div>
                        <div class="harvest-list">
                            <div class="harvest-item">
                                <div class="item-img">
                                    <img src="../images/project-img2.png" alt="">
                                </div>
                                <div class="item-content">
                                    <div class="content-title text-garden">失亲儿福利基金</div>
                                    <div class="content-info text-justify text-gray">
                                        长江商学院EMBA第16期利剑队捐赠一百万元设立，用于贫困助学，双语文化交流项目，
                                        解决新疆和田地县贫困学生中面临的经济，文化教育，心里，同辈交往等问题。
                                        长江商学院EMBA第16期利剑队捐赠一百万元设立，用于贫困助学，双语文化交流项目，
                                        解决新疆和田地县贫困学生中面临的经济，文化教育，心里，同辈交往等问题。
                                    </div>
                                </div>
                            </div>
                            <div class="harvest-item">
                                <div class="item-img">
                                    <img src="../images/project-img2.png" alt="">
                                </div>
                                <div class="item-content">
                                    <div class="content-title text-garden">弘毅慈善基金会</div>
                                    <div class="content-info text-justify text-gray">
                                        长江商学院EMBA第16期利剑队捐赠一百万元设立，用于贫困助学，双语文化交流项目，
                                        解决新疆和田地县贫困学生中面临的经济，文化教育，心里，同辈交往等问题。
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-list ">
                <div class="list-trust">

                    <div class="trust-mode ">
                        <div class="mode-title text-blod text-center h-title">慈善信托合作方式</div>
                        <div class="mode-item">
                            <span class="text-garden item-index">01</span>
                            基于特定公益目的，委托弘毅慈善扶贫基金会设立
                            <span class="text-garden item-keywords">单受托人</span>
                            的慈善信托
                        </div>
                        <div class="mode-item">
                            <span class="text-garden item-index">02</span>
                            基于公益目的，联合信托公司，由弘毅扶贫基金会设立
                            <span class="text-garden item-keywords">双受托人</span>
                            的慈善信托
                        </div>
                        <div class="mode-item">
                            <span class="text-garden item-index">03</span>
                            客户设立慈善信托，弘毅扶贫基金会提供有偿
                            <span class="text-garden item-keywords">专业咨询服务</span>
                        </div>
                    </div>
                    <div class="trust-process">
                        <div class="process-title text-blod text-center h-title">慈善信托托运流程</div>
                        <div class="process-box">
                            <div class="process-step process-step1">
                                <div class="step-numb">1<span></span></div>
                                <div class="step-name">达成合作意向</div>
                            </div>
                            <div class="process-step process-step2">
                                <div class="step-numb">2<span></span></div>
                                <div class="step-name">签署信托合同</div>
                            </div>
                            <div class="process-step process-step3">
                                <div class="step-numb">3<span></span></div>
                                <div class="step-name">开立银行专门账户</div>
                            </div>
                            <div class="process-step process-step4">
                                <div class="step-numb">4<span></span></div>
                                <div class="step-name">民政备案及公开</div>
                                <div class="step-explan text-gray">(民政协调银检局)</div>
                            </div>
                            <div class="process-step process-step5">
                                <div class="step-numb">5<span></span></div>
                                <div class="step-name">信托财产到账</div>
                            </div>
                            <div class="process-step process-step6">
                                <div class="step-numb">6<span></span></div>
                                <div class="step-name">策划实施公益项目</div>
                            </div>
                            <div class="process-step process-step7">
                                <div class="step-numb">7<span></span></div>
                                <div class="step-name">信托财产管理处分报告</div>
                            </div>
                            <div class="process-step process-step8">
                                <div class="step-numb">8<span></span></div>
                                <div class="step-name">检查报告</div>
                            </div>
                            <div class="process-Arrow"></div>
                        </div>
                    </div>
                    <div class="turst-result">
                        <div class="result-title text-blod text-center h-title">项目成果</div>
                        <div class="result-box">
                            <div class="box-name text-garden text-center">弘毅1号</div>
                            <div class="box-explan text-center">全国第二例慈善组织单体受托的慈善信托</div>
                            <div class="box-content">
                                <div class="content-img">
                                    <img src="../images/project-gainimg.png" alt="">
                                </div>
                                <div class="content-table">
                                    <table class="table table-bordered ">
                                        <tr>
                                            <td class="text-garden">委托人</td>
                                            <td>上海弘毅迂善集团</td>
                                        </tr>
                                        <tr>
                                            <td class="text-garden">资金额</td>
                                            <td>100万元</td>
                                        </tr>
                                        <tr>
                                            <td class="text-garden">宗旨</td>
                                            <td>支持国内正式注册3年以内的初创型社区居家养老工艺组织的发展，
                                                并针对海南省的此类公益组织采取优先政策。
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-garden">用途</td>
                                            <td>
                                                优质社区居家养老公益服务的开发、实施、宣传、评估、推广；培训社区居民
                                                养老公益服务专业人才；奖励优秀社区居家养老公益服务项目/组织；举办社区居家养老公益组织兴业交流会/论坛。
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerbox">
        <div class="footer">
            <div class="footer-logo">
                <img src="../images/footer-logo.png" alt="">
            </div>
            <div class="footer-content ">
                <div class="content-tel content-item align-items-center">
                    <img src="../images/footer-tel.png" alt="">
                    <p>400-8301217</p>
                </div>
                <div class="content-email content-item">邮箱: zjh@hpaf.org.cn</div>
                <div class="content-adress content-item">地址: 上海市浦东新区金高路2355号3楼</div>

            </div>
            <div class="footer-code">
                <img src="../images/footer-code.png" alt="">
            </div>
        </div>
    </div>
</div>
</body>
</html>