<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>联系我们</title>
    <link rel="icon" type="image/x-icon" href="../images/title-logo.png" />
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/contactus.js"></script>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/contactus.css">
</head>
<body>
<div class="contactus">
    <div class="headerbox bg-white border-bottom box-shadow">
        <div class="header  align-items-center">
            <div class="header-logo" >
                <img src="../images/header-logo.png" alt="">
            </div>
            <div class="header-tablist ">
                <div class="tab-item  text-dark visit">
                    <a href="./home.html">首页</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./about.html">关于我们</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./news.html">新闻中心</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./publicmsg.html">信息公开</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./project.html">项目展示</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./donation.html">在线捐赠</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./contactus.html">联系我们</a>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="banner-name">联系我们</div>
        <img src="../images/contactus-banner.png" class="img-fluid" alt="">
    </div>
    <div class="content">
        <div class="content-tab border-bottom tab-2">
            <div class="tab-item tab-active">联系方式<span></span></div>
            <div class="tab-item">志愿者招募<span></span></div>
        </div>
        <div class="content-box">

            <div class="box-list ">
               <div class="list-companymsg">
                   <div class="msg-section">
                       <div class="section-box">
                           <div class="box-title">海南弘毅扶贫慈善基金会</div>
                           <div class="box-info text-gray">
                               <div>上海办公室地址 : 上海市浦东新区金高路2355号3楼</div>
                               <div>海南办公室地址 : 海南省海口市美兰区海甸五东路金海雅苑二期4幢2层</div>
                               <div class="info-tel">
                                   <div>联系电话 : </div>
                                   <div class="tel-list">
                                       <div>4008201836</div>
                                       <div>021-31652508转 7536</div>
                                       <div>0898-66199278</div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="section-box">
                           <div class="box-title">网络联系方式</div>
                           <div class="box-info text-gray">
                               <div>网址 : http://www.hyaf.org.cn</div>
                               <div>新浪微博 : https://www.weibo.com/u/6142819489</div>
                               <div>邮箱 : zjh@hpaf.org.cn</div>
                               <div>微信公众号 : </div>
                               <div class="wx-qrcode">
                                   <img src="../images/contactus-qrcode.png" alt="">
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="msg-img">
                       <img src="../images/contactus-map.png" alt="">
                   </div>
               </div>
            </div>
            <div class="box-list ">
               <div class="list-volunteersign">
                   <form action="#">
                       <div class="form-title text-center">志愿者申请表</div>
                       <div class="form-item form-group">
                           <div class="form-text">
                               <div><span class="form-must">*</span>  姓名</div>
                           </div>
                           <div class="form-panel">
                               <input  class="form-control" type="text" placeholder="请填写真实姓名">
                           </div>
                       </div>
                       <div class="form-item form-group">
                           <div class="form-text">
                               <div><span class="form-must">*</span>  性别</div>
                           </div>
                           <div class="form-panel sex-box">
                               <div class="box-item ">男</div>
                               <div class="box-item">女</div>
                           </div>
                       </div>
                       <div class="form-item form-group">
                           <div class="form-text">
                               <div><span class="form-must">*</span>  年龄</div>
                           </div>
                           <div class="form-panel">
                               <input  class="form-control" type="text" placeholder="请填写真实年龄">
                           </div>
                       </div>
                       <div class="form-item form-group">
                           <div class="form-text">
                               <div><span class="form-must">*</span>  手机</div>
                           </div>
                           <div class="form-panel">
                               <input  class="form-control" type="text" placeholder="请填写有效手机号">
                           </div>
                       </div>
                       <div class="form-item form-group">
                           <div class="form-text">
                               <div><span class="form-must">*</span> 邮箱</div>
                           </div>
                           <div class="form-panel">
                               <input class="form-control" type="email" placeholder="请输入邮箱账户">
                           </div>
                       </div>
                       <div class="form-item form-group">
                           <div class="form-text">
                               <div><span class="form-must">*</span> 预计服务时间</div>
                           </div>
                           <div class="form-panel">
                               <div class="radio-box date-box">
                                   <div class="date-item ">工作日</div>
                                   <div class="date-item">节假日</div>
                                   <div class="date-item">寒暑假</div>
                               </div>
                           </div>
                       </div>
                       <div class="form-item form-group">
                           <div class="form-text ">
                               <div> <span class="form-must">*</span>您希望支援哪个项目</div>
                           </div>
                           <div class="form-panel">
                               <select class="form-control" name="donation-name" id="donation-name">
                                   <option value="" selected>与星星的孩子共享自然</option>
                                   <option value="" >壹元温暖餐</option>
                                   <option value="" >留守儿童助健康</option>
                               </select>
                           </div>
                       </div>

                       <div class=" form-group agreement text-gray">
                           <span class="text-garden">注</span> ：您的个人信息将保留且仅保留在弘毅扶贫慈善基金会的信息库中，
                          未得到您的授权，我们不会向任何组织及第三方透露
                       </div>
                       <div class="form-group text-center ">
                           <button type="button" id="join">确认申请</button>
                       </div>
                   </form>
               </div>
            </div>
        </div>
    </div>

</div>
<div class="footerbox">
    <div class="footer">
        <div class="footer-logo">
            <img src="../images/footer-logo.png" alt="">
        </div>
        <div class="footer-content ">
            <div class="content-tel content-item align-items-center">
                <img src="../images/footer-tel.png" alt="">
                <p>0898-66199278</p>
            </div>
            <div class="content-email content-item">邮箱: zjh@hpaf.org.cn</div>
            <div class="content-adress content-item">地址: 海南省海口市龙华区国贸三横路21号南洋国际1604单元</div>

        </div>
        <div class="footer-code">
            <img src="../images/footer-code.png" alt="">
        </div>
    </div>
</div>
</body>
</html>