<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线捐赠</title>
    <link rel="icon" type="image/x-icon" href="../images/title-logo.png" />
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../src/bootstrap-datepicker.min.css">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../src/bootstrap-datepicker.min.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/donation.js"></script>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/donation.css">
</head>
<body>
<div class="donation">
    <div class="headerbox bg-white border-bottom box-shadow">
        <div class="header  align-items-center">
            <div class="header-logo" >
                <img src="../images/header-logo.png" alt="">
            </div>
            <div class="header-tablist ">
                <div class="tab-item  text-dark visit">
                    <a href="./home.html">首页</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./about.html">关于我们</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./news.html">新闻中心</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./publicmsg.html">信息公开</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./project.html">项目展示</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./donation.html">在线捐赠</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./contactus.html">联系我们</a>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="banner-name">在线捐赠</div>
        <img src="../images/donation-banner.png" class="img-fluid" alt="">
    </div>
    <div class="content">
        <div class="content-tab border-bottom tab-3">
            <div class="tab-item">我要捐赠<span></span></div>
            <div class="tab-item">捐赠查询<span></span></div>
            <div class="tab-item">善款支出<span></span></div>
        </div>
        <div class="content-box">
            <div class="box-list">
                <div class="list-step-title">
                    <div class="step-item text-center">
                        <div class="item-numb numb-active">1
                            <span class="back-gray"></span>
                            <span class="back-progress1"></span>
                            <span></span>
                        </div>
                        <div class="item-text text-gray">捐赠信息</div>
                    </div>
                    <div class="step-item text-center">
                        <div class="item-numb ">2
                            <span class="back-gray"></span>
                            <span class="back-progress2"></span>
                        </div>
                        <div class="item-text text-gray">支付</div>
                    </div>
                    <div class="step-item text-center">
                        <div class="item-numb">3</div>
                        <div class="item-text text-gray">完成</div>
                    </div>
                </div>
                <div class="list-step-content">
                    <div class="step-box1">
                        <div class="box1-form">
                            <form action="#">
                                <div class="form-item form-group">
                                    <div class="form-text ">
                                        <div> <span class="form-must">*</span>捐赠项目</div>
                                    </div>
                                    <div class="form-panel">
                                        <select class="form-control" name="donation-name" id="donation-name">
                                            <option value="" selected>与星星的孩子共享自然</option>
                                            <option value="" >壹元温暖餐</option>
                                            <option value="" >留守儿童助健康</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-item form-group">
                                    <div class="form-text">
                                        <div> 捐赠人</div>
                                    </div>
                                    <div class="form-panel">
                                        <input  class="form-control" type="text" placeholder="匿名用户">
                                    </div>
                                </div>
                                <div class="form-item form-group">
                                    <div class="form-text">
                                        <div><span class="form-must">*</span> 邮箱</div>
                                    </div>
                                    <div class="form-panel">
                                        <input class="form-control" type="email" placeholder="请输入邮箱账户">
                                    </div>
                                </div>
                                <div class="form-item form-group">
                                    <div class="form-text">
                                        <div><span class="form-must">*</span> 捐赠金额</div>
                                    </div>
                                    <div class="form-panel">
                                        <div class="radio-box momey-box">
                                           <div class="momey-item ">￥10</div>
                                           <div class="momey-item">￥20</div>
                                           <div class="momey-item">￥50</div>
                                           <div class="momey-item">￥100</div>
                                        </div>
                                        <div class="money-input">
                                            <div>其他</div><input class="form-control" type="email" placeholder="请输入捐赠金额，需为整数">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-item form-group">
                                    <div class="form-text">
                                        <div><span class="form-must">*</span> 是否匿名</div>
                                    </div>
                                    <div class="form-panel anonymous-box">
                                        <div class="box-item ">是</div>
                                        <div class="box-item">否</div>
                                    </div>
                                </div>
                                <div class="form-item form-group">
                                    <div class="form-text">
                                        <div><span class="form-must">*</span> 是否需要捐赠票据</div>
                                    </div>
                                    <div class="form-panel bill-box">
                                        <div class="box-item ">是</div>
                                        <div class="box-item">否</div>
                                    </div>
                                </div>
                                <div class=" form-group agreement">
                                    <input type="radio" style="margin: 5px 5px 0 0">我已阅读并同意弘毅扶贫慈善基金会的 <a href="#">《捐赠协议》</a>
                                </div>
                                <div class="form-group text-center ">
                                    <button type="button" id="tobox2">确认捐赠</button>
                                </div>
                            </form>

                        </div>

                    </div>
                    <div class="step-box2">
                        <div class="box2-title text-center">
                            请选择支付方式
                        </div>
                        <form action="#">
                           <div class="form-group">
                               <div class="group-item">
                                   <input type="radio" name="way">
                                   <div class="item-info">
                                       <img src="../images/wx-pay.png" alt="">
                                       微信支付
                                   </div>
                               </div>
                               <div class="group-item">
                                   <input type="radio" name="way">
                                   <div class="item-info">
                                       <img src="../images/zfb-pay.png" alt="">
                                       微信支付
                                   </div>
                               </div>
                           </div>
                            <div class="pay-numb text-center">支付:<span class="text-red">10</span>元</div>
                            <div class="text-center paybtn-box">
                                <div class="back-garden paybtn" id="tobox3">去支付</div>
                            </div>
                        </form>

                    </div>
                    <div class="step-box3">
                        <div class="box3-content text-center">
                           <div class="content-img">
                               <img src="../images/pay-success.png" alt="">
                           </div>
                            <div class="content-msg text-center">
                                <div> 支付成功！</div>
                                <div class="text-gray">感谢您对公益的支持！ </div>
                                <div>联结、改变，让世界更有温度！</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-explan">
                    <div class="donation-explan">
                        <div class="explan-title">捐赠票据索要说明</div>
                        <div class="explan-info text-justify">
                            感谢您对我们和该项目的支持，如果您需要开具捐赠收据，请填写捐赠收据信息及地址并发送电子邮件至客服邮箱： zjh@hpaf.org.cn。索取捐赠票据。
                        </div>
                        <div class="get-method">
                            <div class="method-title">邮寄方式：</div>
                            <div class="method-info text-justify">
                                基于捐赠成本考虑，1000元以上的捐赠将以快递方式寄出，200元以上1000元以下的捐赠
                                将以挂号信的方式寄出，200元以下的捐赠请您自取，您可将多次捐赠累计集中开具。
                            </div>
                        </div>
                    </div>
                    <div class="donation-else">
                        <div class="else-title text-center text-garden h-title">其他捐赠方式</div>
                        <div class="else-info ">
                            <div class="info-item">
                                收款人名称:海南弘毅扶贫慈善基金会
                            </div>
                            <div class="info-item">
                                收款人账号:1011389600000173
                            </div>
                            <div class="info-item">
                                开户银行:海口农村商业银行股份有限公司海府支行
                            </div>
                            <div class="info-item">
                                物资捐赠：请联系客服邮箱： zjh@hpaf.org.cn
                            </div>

                        </div>

                    </div>
                </div>


            </div>
            <div class="box-list">
                <div class="list-searchbox">
                    <form class="form-inline" role="form">
                        <div class="form-group search-name">
                            <label for="f1" >捐赠来源</label>
                            <input type="text" id="f1" class="form-control" placeholder="请输入捐赠人姓名或捐赠单位"/>
                        </div>
                        <div class="form-group search-date">
                            <label for="datetimeStart">捐赠日期</label>
                            <input  id="datetimeStart" class="form-control" placeholder="请选择捐赠日期"/>
                        </div>
                        <button type="submit" class="search-btn">查询</button>
                    </form>
                </div>
                <div class="list-table">
                    <table class="table table-bordered text-center text-gray" >
                        <tr>
                            <td>捐赠来源</td>
                            <td>捐赠金额(单位：元)</td>
                            <td>捐赠日期</td>
                            <td>捐赠项目</td>
                        </tr>
                        <tr>
                            <td>匿名</td>
                            <td>10</td>
                            <td>2016-08-02</td>
                            <td>亲子公益帮</td>
                        </tr>
                        <tr>
                            <td>匿名</td>
                            <td>10</td>
                            <td>2016-08-02</td>
                            <td>金轮椅孵化器</td>
                        </tr>
                        <tr>
                            <td>中国科学院化学研究所工会</td>
                            <td>10</td>
                            <td>2016-08-02</td>
                            <td>弘毅慈善扶贫基金会</td>
                        </tr>
                        <tr>
                            <td>匿名</td>
                            <td>10</td>
                            <td>2016-08-02</td>
                            <td>关爱农民工子女教育</td>
                        </tr>
                        <tr>
                            <td>匿名</td>
                            <td>10</td>
                            <td>2016-08-02</td>
                            <td>关爱贫困女童生理健康</td>
                        </tr>
                        <tr>
                            <td>匿名</td>
                            <td>10</td>
                            <td>2016-08-02</td>
                            <td>助残圆梦计划</td>
                        </tr>
                    </table>
                </div>
                <div class="page text-center">
                    <div class="page-box ">
                        <div class="page-item">上一页</div>
                        <div class="page-item active">1</div>
                        <div class="page-item">2</div>
                        <div class="page-item">3</div>
                        <div class="page-item">4</div>
                        <div class="page-item">5</div>
                        <div class="page-item">6</div>
                        <div class="page-item">下一页</div>
                    </div>
                </div>
            </div>
            <div class="box-list">bbbb</div>
    </div>
    </div>
    <div class="footerbox">
        <div class="footer">
            <div class="footer-logo">
                <img src="../images/footer-logo.png" alt="">
            </div>
            <div class="footer-content ">
                <div class="content-tel content-item align-items-center">
                    <img src="../images/footer-tel.png" alt="">
                    <p>0898-66199278</p>
                </div>
                <div class="content-email content-item">邮箱: zjh@hpaf.org.cn</div>
                <div class="content-adress content-item">地址: 海南省海口市龙华区国贸三横路21号南洋国际1604单元</div>

            </div>
            <div class="footer-code">
                <img src="../images/footer-code.png" alt="">
            </div>
        </div>
    </div>

    <script src="../src/bootstrap-datepicker.zh-CN.min.js"></script>
    <script>
        $(function () {

            $('#datetimeStart').datepicker({
                language: 'zh-CN',
                autoclose: true,
                format:"yyyy-mm-dd",
                todayHighlight:true

            });
            })
    </script>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<h5 class="modal-title text-center" id="exampleModalLongTitle">使用<span>微信</span>支付 <span>￥100</span></h5>-->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="title">使用微信支付 <span class="pay-numb">￥1000</span></div>
                    <div class="qrcode text-center">
                        <img src="../images/pay-qrcode.gif" alt="">
                    </div>
                    <div class="tips text-white">
                        <div class="tip-img">
                            <img src="../images/scavenging.png" alt="">
                        </div>
                        <div class="tips-msg">
                            <div>请使用微信扫一扫</div>
                            <div>扫描二维码完成支付</div>
                        </div>
                    </div>
                </div>
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</body>
</html>