<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="icon" type="image/x-icon" href="../images/title-logo.png" />
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <div class="home">
        <div class="headerbox bg-white border-bottom box-shadow">
            <div class="header  align-items-center">
                <div class="header-logo" >
                    <img src="../images/header-logo.png" alt="">
                </div>
                <div class="header-tablist ">
                    <div class="tab-item  text-dark visit">
                        <a href="./home.html">首页</a>
                        <span></span>
                    </div>
                    <div class="tab-item  text-dark">
                        <a href="./about.html">关于我们</a>
                        <span></span>
                    </div>
                    <div class="tab-item  text-dark">
                        <a href="./news.html">新闻中心</a>
                        <span></span>
                    </div>
                    <div class="tab-item  text-dark">
                        <a href="./publicmsg.html">信息公开</a>
                        <span></span>
                    </div>
                    <div class="tab-item  text-dark">
                        <a href="./project.html">项目展示</a>
                        <span></span>
                    </div>
                    <div class="tab-item  text-dark">
                        <a href="./donation.html">在线捐赠</a>
                        <span></span>
                    </div>
                    <div class="tab-item  text-dark">
                        <a href="./contactus.html">联系我们</a>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner">
            <img src="../images/about-banner.png" class="img-fluid" alt="">
        </div>
        <div class="content-box">
            <div class="box-list ">
                <div class="list-item border-garden">
                    <div class="item-head">
                        <div class="head-title text-garden">
                            新农业产业升级私募基金1号成功备案
                        </div>
                        <div class="head-date text-lightgray">发布时间:2018-8-12</div>
                    </div>
                    <div class="item-content text-gray text-justify">
                        贝恪理财是在工商部门的批准并获批“金融信息服务” 经营范围的基础上成立的。背靠集团雄厚实力与强大的产融结合能力,
                        贝恪理财积极践行国家小额普惠、脱虚向实的金融政策，利用合规、稳健、自律、严谨、专业的发展理念、凭借创新的技术、过硬的
                        风控实力以及专业的管理团队，建立一个安全..
                    </div>
                    <div class="item-more">
                        <a href="#">
                            <img src="../images/more.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="list-item border-garden">
                    <div class="item-head">
                        <div class="head-title text-garden">
                            新农业产业升级私募基金1号成功备案
                        </div>
                        <div class="head-date text-lightgray">发布时间:2018-8-12</div>
                    </div>
                    <div class="item-content text-gray text-justify">
                        贝恪理财是在工商部门的批准并获批“金融信息服务” 经营范围的基础上成立的。背靠集团雄厚实力与强大的产融结合能力,
                        贝恪理财积极践行国家小额普惠、脱虚向实的金融政策，利用合规、稳健、自律、严谨、专业的发展理念、凭借创新的技术、过硬的
                        风控实力以及专业的管理团队，建立一个安全..
                    </div>
                    <div class="item-more">
                        <a href="#">
                            <img src="../images/more.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="list-item border-garden">
                    <div class="item-head">
                        <div class="head-title text-garden">
                            新农业产业升级私募基金1号成功备案
                        </div>
                        <div class="head-date text-lightgray">发布时间:2018-8-12</div>
                    </div>
                    <div class="item-content text-gray text-justify">
                        贝恪理财是在工商部门的批准并获批“金融信息服务” 经营范围的基础上成立的。背靠集团雄厚实力与强大的产融结合能力,
                        贝恪理财积极践行国家小额普惠、脱虚向实的金融政策，利用合规、稳健、自律、严谨、专业的发展理念、凭借创新的技术、过硬的
                        风控实力以及专业的管理团队，建立一个安全..
                    </div>
                    <div class="item-more">
                        <a href="#">
                            <img src="../images/more.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="list-item border-garden">
                    <div class="item-head">
                        <div class="head-title text-garden">
                            新农业产业升级私募基金1号成功备案
                        </div>
                        <div class="head-date text-lightgray">发布时间:2018-8-12</div>
                    </div>
                    <div class="item-content text-gray text-justify">
                        贝恪理财是在工商部门的批准并获批“金融信息服务” 经营范围的基础上成立的。背靠集团雄厚实力与强大的产融结合能力,
                        贝恪理财积极践行国家小额普惠、脱虚向实的金融政策，利用合规、稳健、自律、严谨、专业的发展理念、凭借创新的技术、过硬的
                        风控实力以及专业的管理团队，建立一个安全..
                    </div>
                    <div class="item-more">
                        <a href="#">
                            <img src="../images/more.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="box-project">
                <div class="project-title text-center">公益项目</div>
                <div class="project-list">
                    <div class="project-item">
                        <div class="item-img">
                            <img src="../images/home-item1.png" alt="">
                        </div>
                        <div class="item-content">
                            <div class="content-title">留守儿童助健康</div>
                            <div class="content-alreadymoney">已筹资金:<span class="text-red text-blod money-numb">92233123123.22</span><span class="text-red text-blod">元</span></div>
                            <div class="content-member">
                                <div class="member-info">
                                    捐赠人数：<span class="text-black member-numb text-blod">23456456</span><span class="text-black text-blod">人</span>
                                </div>
                                <div class="member-go back-garden">捐赠</div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item">
                        <div class="item-img">
                            <img src="../images/home-item1.png" alt="">
                        </div>
                        <div class="item-content">
                            <div class="content-title">留守儿童助健康</div>
                            <div class="content-alreadymoney">已筹资金:<span class="text-red text-blod money-numb">92233123123.22</span><span class="text-red text-blod">元</span></div>
                            <div class="content-member">
                                <div class="member-info">
                                    捐赠人数：<span class="text-black member-numb text-blod">23456456</span><span class="text-black text-blod">人</span>
                                </div>
                                <div class="member-go back-garden">捐赠</div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item">
                        <div class="item-img">
                            <img src="../images/home-item1.png" alt="">
                        </div>
                        <div class="item-content">
                            <div class="content-title">留守儿童助健康</div>
                            <div class="content-alreadymoney">已筹资金:<span class="text-red text-blod money-numb">92233123123.22</span><span class="text-red text-blod">元</span></div>
                            <div class="content-member">
                                <div class="member-info">
                                    捐赠人数：<span class="text-black member-numb text-blod">23456456</span><span class="text-black text-blod">人</span>
                                </div>
                                <div class="member-go back-garden">捐赠</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="map-box">
            <div class="box-title text-center">中国项目地图</div>
            <div class="box-img">
                <img src="../images/home-map.png" alt="">
            </div>
        </div>
        <div class="footerbox">
            <div class="footer">
                <div class="footer-logo">
                    <img src="../images/footer-logo.png" alt="">
                </div>
                <div class="footer-content ">
                    <div class="content-tel content-item align-items-center">
                        <img src="../images/footer-tel.png" alt="">
                        <p>400-8301217</p>
                    </div>
                    <div class="content-email content-item">邮箱: zjh@hpaf.org.cn</div>
                    <div class="content-adress content-item">地址: 上海市浦东新区金高路2355号3楼</div>

                </div>
                <div class="footer-code">
                    <img src="../images/footer-code.png" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>