<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目展示</title>
    <link rel="icon" type="image/x-icon" href="../images/title-logo.png" />
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../js/base.js"></script>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/project.css">

</head>
<body>
<div class="project">
    <div class="headerbox bg-white border-bottom box-shadow">
        <div class="header  align-items-center">
            <div class="header-logo" >
                <img src="../images/header-logo.png" alt="">
            </div>
            <div class="header-tablist ">
                <div class="tab-item  text-dark visit">
                    <a href="./home.html">首页</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./about.html">关于我们</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./news.html">新闻中心</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./publicmsg.html">信息公开</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./project.html">项目展示</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./donation.html">在线捐赠</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./contactus.html">联系我们</a>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="banner">
        <img src="../images/project-banner.png" class="img-fluid" alt="">
    </div>
    <div class="content">
        <div class="content-tab border-bottom">
            <div class="tab-item">公益项目<span></span></div>
            <div class="tab-item">项目地图<span></span></div>
            <div class="tab-item">专项基金<span></span></div>
            <div class="tab-item">慈善信托<span></span></div>
        </div>
        <div class="content-box">
            <div class="box-list ">
                <div class="list-projectcontainer">
                    <div class="project-item">
                        <div class="item-img">
                            <img src="../images/home-item1.png" alt="">
                        </div>
                        <div class="item-content">
                            <div class="content-title">留守儿童助健康</div>
                            <div class="content-alreadymoney">已筹资金:<span class="text-red text-blod money-numb">92233123123.22</span><span class="text-red text-blod">元</span></div>
                            <div class="content-member">
                                <div class="member-info">
                                    捐赠人数：<span class="text-black member-numb text-blod">23456456</span><span class="text-black text-blod">人</span>
                                </div>
                                <div class="member-go back-garden">捐赠</div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item">
                        <div class="item-img">
                            <img src="../images/home-item1.png" alt="">
                        </div>
                        <div class="item-content">
                            <div class="content-title">留守儿童助健康</div>
                            <div class="content-alreadymoney">已筹资金:<span class="text-red text-blod money-numb">92233123123.22</span><span class="text-red text-blod">元</span></div>
                            <div class="content-member">
                                <div class="member-info">
                                    捐赠人数：<span class="text-black member-numb text-blod">23456456</span><span class="text-black text-blod">人</span>
                                </div>
                                <div class="member-go back-garden">捐赠</div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item">
                        <div class="item-img">
                            <img src="../images/home-item1.png" alt="">
                        </div>
                        <div class="item-content">
                            <div class="content-title">留守儿童助健康</div>
                            <div class="content-alreadymoney">已筹资金:<span class="text-red text-blod money-numb">92233123123.22</span><span class="text-red text-blod">元</span></div>
                            <div class="content-member">
                                <div class="member-info">
                                    捐赠人数：<span class="text-black member-numb text-blod">23456456</span><span class="text-black text-blod">人</span>
                                </div>
                                <div class="member-go back-garden">捐赠</div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item">
                        <div class="item-img">
                            <img src="../images/home-item1.png" alt="">
                        </div>
                        <div class="item-content">
                            <div class="content-title">留守儿童助健康</div>
                            <div class="content-alreadymoney">已筹资金:<span class="text-red text-blod money-numb">92233123123.22</span><span class="text-red text-blod">元</span></div>
                            <div class="content-member">
                                <div class="member-info">
                                    捐赠人数：<span class="text-black member-numb text-blod">23456456</span><span class="text-black text-blod">人</span>
                                </div>
                                <div class="member-go back-garden">捐赠</div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item">
                        <div class="item-img">
                            <img src="../images/home-item1.png" alt="">
                        </div>
                        <div class="item-content">
                            <div class="content-title">留守儿童助健康</div>
                            <div class="content-alreadymoney">已筹资金:<span class="text-red text-blod money-numb">92233123123.22</span><span class="text-red text-blod">元</span></div>
                            <div class="content-member">
                                <div class="member-info">
                                    捐赠人数：<span class="text-black member-numb text-blod">23456456</span><span class="text-black text-blod">人</span>
                                </div>
                                <div class="member-go back-garden">捐赠</div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item">
                        <div class="item-img">
                            <img src="../images/home-item1.png" alt="">
                        </div>
                        <div class="item-content">
                            <div class="content-title">留守儿童助健康</div>
                            <div class="content-alreadymoney">已筹资金:<span class="text-red text-blod money-numb">92233123123.22</span><span class="text-red text-blod">元</span></div>
                            <div class="content-member">
                                <div class="member-info">
                                    捐赠人数：<span class="text-black member-numb text-blod">23456456</span><span class="text-black text-blod">人</span>
                                </div>
                                <div class="member-go back-garden">捐赠</div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item">
                        <div class="item-img">
                            <img src="../images/home-item1.png" alt="">
                        </div>
                        <div class="item-content">
                            <div class="content-title">留守儿童助健康</div>
                            <div class="content-alreadymoney">已筹资金:<span class="text-red text-blod money-numb">92233123123.22</span><span class="text-red text-blod">元</span></div>
                            <div class="content-member">
                                <div class="member-info">
                                    捐赠人数：<span class="text-black member-numb text-blod">23456456</span><span class="text-black text-blod">人</span>
                                </div>
                                <div class="member-go back-garden">捐赠</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page text-center">
                    <div class="page-box ">
                        <div class="page-item">上一页</div>
                        <div class="page-item active">1</div>
                        <div class="page-item">2</div>
                        <div class="page-item">3</div>
                        <div class="page-item">4</div>
                        <div class="page-item">5</div>
                        <div class="page-item">6</div>
                        <div class="page-item">下一页</div>
                    </div>
                </div>
            </div>
            <div class="box-list ">

            </div>
            <div class="box-list ">
                <div class="list-specialcontainer">
                    <div class="special-explain">
                        <div class="explain-img">
                            <img src="../images/project-specialmoney1.png" alt="">
                            <img src="../images/project-specialmoney2.png" alt="">
                            <img src="../images/project-specialmoney3.png" alt="">
                            <img src="../images/project-specialmoney4.png" alt="">
                        </div>
                        <div class="explain-article">
                            <div class="article-box">
                                <div class="article-title">专项基金</div>
                                <div class="article-info text-gray text-justify">
                                    <div>捐赠人以支持扶贫、环保、教育、养老、健康等公益慈善事业为目的，在海南弘毅扶贫慈善基金会的基本账户下，
                                        设立专项基金科目，按照捐赠者的意愿，专款专用，
                                        并遵守基金会专项基金管理办法管理运作的专项基金。
                                    </div>
                                    <div>专项基金捐赠额度≥200万，可根据发起人/捐赠人意愿，由海南弘毅与专
                                        项基金发起人共同组成专项基金管理委员会，对专项基金实施监督、协调和管理</div>
                                </div>
                            </div>
                            <div class="article-box">
                                <div class="article-title">设立原则</div>
                                <div class="article-info text-gray text-justify">
                                    <p>1、符合海南弘毅扶贫慈善基金会的使命、愿景、宗旨与工作原则。</p>
                                    <p>2、以社会公益性为核心特征、致力于持续解决某一类社会问题。</p>
                                    <p>3、服务群体界定明确，且了解该特定人群的需求。</p>
                                    <p>4、对于基金管理使用、宣传、筹资有明确的计划，有专人管理。</p>
                                    <p>5、公益项目具有可行性分析，持续性强，可产生较大的社会影响力。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="special-harvest">
                        <div class="harvest-title text-blod text-center h-title">项目成果</div>
                        <div class="harvest-list">
                            <div class="harvest-item">
                                <div class="item-img">
                                    <img src="../images/project-img2.png" alt="">
                                </div>
                                <div class="item-content">
                                    <div class="content-title text-garden">失亲儿福利基金</div>
                                    <div class="content-info text-justify text-gray">
                                        长江商学院EMBA第16期利剑队捐赠一百万元设立，用于贫困助学，双语文化交流项目，
                                        解决新疆和田地县贫困学生中面临的经济，文化教育，心里，同辈交往等问题。
                                        长江商学院EMBA第16期利剑队捐赠一百万元设立，用于贫困助学，双语文化交流项目，
                                        解决新疆和田地县贫困学生中面临的经济，文化教育，心里，同辈交往等问题。
                                    </div>
                                </div>
                            </div>
                            <div class="harvest-item">
                                <div class="item-img">
                                    <img src="../images/project-img2.png" alt="">
                                </div>
                                <div class="item-content">
                                    <div class="content-title text-garden">弘毅慈善基金会</div>
                                    <div class="content-info text-justify text-gray">
                                        长江商学院EMBA第16期利剑队捐赠一百万元设立，用于贫困助学，双语文化交流项目，
                                        解决新疆和田地县贫困学生中面临的经济，文化教育，心里，同辈交往等问题。
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-list "></div>
        </div>
    </div>
    <div class="footerbox">
        <div class="footer">
            <div class="footer-logo">
                <img src="../images/footer-logo.png" alt="">
            </div>
            <div class="footer-content ">
                <div class="content-tel content-item align-items-center">
                    <img src="../images/footer-tel.png" alt="">
                    <p>400-8301217</p>
                </div>
                <div class="content-email content-item">邮箱: zjh@hpaf.org.cn</div>
                <div class="content-adress content-item">地址: 上海市浦东新区金高路2355号3楼</div>

            </div>
            <div class="footer-code">
                <img src="../images/footer-code.png" alt="">
            </div>
        </div>
    </div>
</div>
</body>
</html>