<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目展示</title>
    <link rel="icon" type="image/x-icon" href="../images/title-logo.png" />
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../src/map/raphael-min.js"></script>
    <script src="../src/map/chinaMapConfig.js"></script>
    <script src="../src/map/map.js"></script>
    <link rel="stylesheet" href="../src/map/style.css">
    <script src="../js/base.js"></script>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/project.css">

</head>
<body>
<div class="project">
    <div class="headerbox bg-white border-bottom box-shadow">
        <div class="header  align-items-center">
            <div class="header-logo" >
                <img src="../images/header-logo.png" alt="">
            </div>
            <div class="header-tablist ">
                <div class="tab-item  text-dark visit">
                    <a href="./home.html">首页</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./about.html">关于我们</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./news.html">新闻中心</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./publicmsg.html">信息公开</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./project.html">项目展示</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./donation.html">在线捐赠</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./contactus.html">联系我们</a>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="banner-name">项目展示</div>
        <img src="../images/project-banner.png" class="img-fluid" alt="">
    </div>
    <div class="content">
        <div class="content-tab border-bottom tab-4">
            <div class="tab-item">公益项目<span></span></div>
            <div class="tab-item">项目地图<span></span></div>
            <div class="tab-item">专项基金<span></span></div>
            <div class="tab-item">慈善信托<span></span></div>
        </div>
        <div class="content-box">
            <div class="box-list ">
                <div class="list-projectcontainer">
                    <div class="project-item">
                        <a href="./projectinfo.html">
                            <div class="item-img">
                                <img src="../images/home-item1.png" alt="">
                            </div>
                            <div class="item-content">
                                <div class="content-title">留守儿童助健康</div>
                                <div class="content-alreadymoney">已筹资金:<span class="text-red text-blod money-numb">92233123123.22</span><span class="text-red text-blod">元</span></div>
                                <div class="content-member">
                                    <div class="member-info">
                                        捐赠人数：<span class="text-black member-numb text-blod">23456456</span><span class="text-black text-blod">人</span>
                                    </div>
                                    <div class="member-go back-garden">捐赠</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="project-item">
                        <a href="./projectinfo.html">
                            <div class="item-img">
                                <img src="../images/home-item1.png" alt="">
                            </div>
                            <div class="item-content">
                                <div class="content-title">留守儿童助健康</div>
                                <div class="content-alreadymoney">已筹资金:<span class="text-red text-blod money-numb">92233123123.22</span><span class="text-red text-blod">元</span></div>
                                <div class="content-member">
                                    <div class="member-info">
                                        捐赠人数：<span class="text-black member-numb text-blod">23456456</span><span class="text-black text-blod">人</span>
                                    </div>
                                    <div class="member-go back-garden">捐赠</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="project-item">
                        <a href="./projectinfo.html">
                            <div class="item-img">
                                <img src="../images/home-item1.png" alt="">
                            </div>
                            <div class="item-content">
                                <div class="content-title">留守儿童助健康</div>
                                <div class="content-alreadymoney">已筹资金:<span class="text-red text-blod money-numb">92233123123.22</span><span class="text-red text-blod">元</span></div>
                                <div class="content-member">
                                    <div class="member-info">
                                        捐赠人数：<span class="text-black member-numb text-blod">23456456</span><span class="text-black text-blod">人</span>
                                    </div>
                                    <div class="member-go back-garden">捐赠</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="project-item">
                        <a href="./projectinfo.html">
                            <div class="item-img">
                                <img src="../images/home-item1.png" alt="">
                            </div>
                            <div class="item-content">
                                <div class="content-title">留守儿童助健康</div>
                                <div class="content-alreadymoney">已筹资金:<span class="text-red text-blod money-numb">92233123123.22</span><span class="text-red text-blod">元</span></div>
                                <div class="content-member">
                                    <div class="member-info">
                                        捐赠人数：<span class="text-black member-numb text-blod">23456456</span><span class="text-black text-blod">人</span>
                                    </div>
                                    <div class="member-go back-garden">捐赠</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="project-item">
                        <a href="./projectinfo.html">
                            <div class="item-img">
                                <img src="../images/home-item1.png" alt="">
                            </div>
                            <div class="item-content">
                                <div class="content-title">留守儿童助健康</div>
                                <div class="content-alreadymoney">已筹资金:<span class="text-red text-blod money-numb">92233123123.22</span><span class="text-red text-blod">元</span></div>
                                <div class="content-member">
                                    <div class="member-info">
                                        捐赠人数：<span class="text-black member-numb text-blod">23456456</span><span class="text-black text-blod">人</span>
                                    </div>
                                    <div class="member-go back-garden">捐赠</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="project-item">
                        <a href="./projectinfo.html">
                            <div class="item-img">
                                <img src="../images/home-item1.png" alt="">
                            </div>
                            <div class="item-content">
                                <div class="content-title">留守儿童助健康</div>
                                <div class="content-alreadymoney">已筹资金:<span class="text-red text-blod money-numb">92233123123.22</span><span class="text-red text-blod">元</span></div>
                                <div class="content-member">
                                    <div class="member-info">
                                        捐赠人数：<span class="text-black member-numb text-blod">23456456</span><span class="text-black text-blod">人</span>
                                    </div>
                                    <div class="member-go back-garden">捐赠</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="project-item">
                        <a href="./projectinfo.html">
                            <div class="item-img">
                                <img src="../images/home-item1.png" alt="">
                            </div>
                            <div class="item-content">
                                <div class="content-title">留守儿童助健康</div>
                                <div class="content-alreadymoney">已筹资金:<span class="text-red text-blod money-numb">92233123123.22</span><span class="text-red text-blod">元</span></div>
                                <div class="content-member">
                                    <div class="member-info">
                                        捐赠人数：<span class="text-black member-numb text-blod">23456456</span><span class="text-black text-blod">人</span>
                                    </div>
                                    <div class="member-go back-garden">捐赠</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="page text-center">
                    <div class="page-box ">
                        <div class="page-item">上一页</div>
                        <div class="page-item active">1</div>
                        <div class="page-item">2</div>
                        <div class="page-item">3</div>
                        <div class="page-item">4</div>
                        <div class="page-item">5</div>
                        <div class="page-item">6</div>
                        <div class="page-item">下一页</div>
                    </div>
                </div>
            </div>
            <div class="box-list ">
                <div class="list-map" id="map">
                    <h2>自定义数据-json</h2>
                    <a href="javascript:;" class="fold"></a>
                    <div class="itemCon">
                        <div id="ChinaMap2"></div>


                    </div>
                </div>
            </div>
            <div class="box-list ">
                <div class="list-specialcontainer">
                    <div class="special-explain">
                        <div class="explain-img">
                            <img src="../images/project-specialmoney1.png" alt="">
                            <img src="../images/project-specialmoney2.png" alt="">
                            <img src="../images/project-specialmoney3.png" alt="">
                            <img src="../images/project-specialmoney4.png" alt="">
                        </div>
                        <div class="explain-article">
                            <div class="article-box">
                                <div class="article-title">专项基金</div>
                                <div class="article-info text-gray text-justify">
                                    <div>捐赠人以支持扶贫、环保、教育、养老、健康等公益慈善事业为目的，在海南弘毅扶贫慈善基金会的基本账户下，
                                        设立专项基金科目，按照捐赠者的意愿，专款专用，
                                        并遵守基金会专项基金管理办法管理运作的专项基金。
                                    </div>
                                    <div>专项基金捐赠额度≥200万，可根据发起人/捐赠人意愿，由海南弘毅与专
                                        项基金发起人共同组成专项基金管理委员会，对专项基金实施监督、协调和管理</div>
                                </div>
                            </div>
                            <div class="article-box">
                                <div class="article-title">设立原则</div>
                                <div class="article-info text-gray text-justify">
                                    <p>1、符合海南弘毅扶贫慈善基金会的使命、愿景、宗旨与工作原则。</p>
                                    <p>2、以社会公益性为核心特征、致力于持续解决某一类社会问题。</p>
                                    <p>3、服务群体界定明确，且了解该特定人群的需求。</p>
                                    <p>4、对于基金管理使用、宣传、筹资有明确的计划，有专人管理。</p>
                                    <p>5、公益项目具有可行性分析，持续性强，可产生较大的社会影响力。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="special-harvest">
                        <div class="harvest-title text-blod text-center h-title">项目成果</div>
                        <div class="harvest-list">
                            <div class="harvest-item">
                                <div class="item-img">
                                    <img src="../images/project-img2.png" alt="">
                                </div>
                                <div class="item-content">
                                    <div class="content-title text-garden">失亲儿福利基金</div>
                                    <div class="content-info text-justify text-gray">
                                        长江商学院EMBA第16期利剑队捐赠一百万元设立，用于贫困助学，双语文化交流项目，
                                        解决新疆和田地县贫困学生中面临的经济，文化教育，心里，同辈交往等问题。
                                        长江商学院EMBA第16期利剑队捐赠一百万元设立，用于贫困助学，双语文化交流项目，
                                        解决新疆和田地县贫困学生中面临的经济，文化教育，心里，同辈交往等问题。
                                    </div>
                                </div>
                            </div>
                            <div class="harvest-item">
                                <div class="item-img">
                                    <img src="../images/project-img2.png" alt="">
                                </div>
                                <div class="item-content">
                                    <div class="content-title text-garden">弘毅慈善基金会</div>
                                    <div class="content-info text-justify text-gray">
                                        长江商学院EMBA第16期利剑队捐赠一百万元设立，用于贫困助学，双语文化交流项目，
                                        解决新疆和田地县贫困学生中面临的经济，文化教育，心里，同辈交往等问题。
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-list ">
               <div class="list-trust">

                    <div class="trust-mode ">
                        <div class="mode-title text-blod text-center h-title">慈善信托合作方式</div>
                        <div class="mode-item">
                            <span class="text-garden item-index">01</span>
                            基于特定公益目的，委托弘毅慈善扶贫基金会设立
                            <span class="text-garden item-keywords">单受托人</span>
                            的慈善信托
                        </div>
                        <div class="mode-item">
                            <span class="text-garden item-index">02</span>
                            基于公益目的，联合信托公司，由弘毅扶贫基金会设立
                            <span class="text-garden item-keywords">双受托人</span>
                            的慈善信托
                        </div>
                        <div class="mode-item">
                            <span class="text-garden item-index">03</span>
                            客户设立慈善信托，弘毅扶贫基金会提供有偿
                            <span class="text-garden item-keywords">专业咨询服务</span>
                        </div>
                    </div>
                   <div class="trust-process">
                       <div class="process-title text-blod text-center h-title">慈善信托托运流程</div>
                       <div class="process-box">
                            <div class="process-step process-step1">
                                <div class="step-numb">1<span></span></div>
                                <div class="step-name">达成合作意向</div>
                            </div>
                           <div class="process-step process-step2">
                               <div class="step-numb">2<span></span></div>
                               <div class="step-name">签署信托合同</div>
                           </div>
                           <div class="process-step process-step3">
                               <div class="step-numb">3<span></span></div>
                               <div class="step-name">开立银行专门账户</div>
                           </div>
                           <div class="process-step process-step4">
                               <div class="step-numb">4<span></span></div>
                               <div class="step-name">民政备案及公开</div>
                               <div class="step-explan text-gray">(民政协调银检局)</div>
                           </div>
                           <div class="process-step process-step5">
                               <div class="step-numb">5<span></span></div>
                               <div class="step-name">信托财产到账</div>
                           </div>
                           <div class="process-step process-step6">
                               <div class="step-numb">6<span></span></div>
                               <div class="step-name">策划实施公益项目</div>
                           </div>
                           <div class="process-step process-step7">
                               <div class="step-numb">7<span></span></div>
                               <div class="step-name">信托财产管理处分报告</div>
                           </div>
                           <div class="process-step process-step8">
                               <div class="step-numb">8<span></span></div>
                               <div class="step-name">检查报告</div>
                           </div>
                           <div class="process-Arrow"></div>
                       </div>
                   </div>
                    <div class="turst-result">
                        <div class="result-title text-blod text-center h-title">项目成果</div>
                        <div class="result-box">
                            <div class="box-name text-garden text-center">弘毅1号</div>
                            <div class="box-explan text-center">全国第二例慈善组织单体受托的慈善信托</div>
                            <div class="box-content">
                                <div class="content-img">
                                    <img src="../images/project-gainimg.png" alt="">
                                </div>
                                <div class="content-table">
                                    <table class="table table-bordered ">
                                        <tr>
                                            <td class="text-garden">委托人</td>
                                            <td>上海弘毅迂善集团</td>
                                        </tr>
                                        <tr>
                                            <td class="text-garden">资金额</td>
                                            <td>100万元</td>
                                        </tr>
                                        <tr>
                                            <td class="text-garden">宗旨</td>
                                            <td>支持国内正式注册3年以内的初创型社区居家养老工艺组织的发展，
                                                并针对海南省的此类公益组织采取优先政策。
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-garden">用途</td>
                                            <td>
                                                优质社区居家养老公益服务的开发、实施、宣传、评估、推广；培训社区居民
                                                养老公益服务专业人才；奖励优秀社区居家养老公益服务项目/组织；举办社区居家养老公益组织兴业交流会/论坛。
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>

</div>
<div class="footerbox">
    <div class="footer">
        <div class="footer-logo">
            <img src="../images/footer-logo.png" alt="">
        </div>
        <div class="footer-content ">
            <div class="content-tel content-item align-items-center">
                <img src="../images/footer-tel.png" alt="">
                <p>0898-66199278</p>
            </div>
            <div class="content-email content-item">邮箱: zjh@hpaf.org.cn</div>
            <div class="content-adress content-item">地址: 海南省海口市龙华区国贸三横路21号南洋国际1604单元</div>

        </div>
        <div class="footer-code">
            <img src="../images/footer-code.png" alt="">
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var data = {
            "jiangsu": {"value": "30.05%", "index": "1", "stateInitColor": "0"},
            "henan": {"value": "19.77%", "index": "2", "stateInitColor": "0"},
            "anhui": {"value": "10.85%", "index": "3", "stateInitColor": "0"},
            "zhejiang": {"value": "10.02%", "index": "4", "stateInitColor": "0"},
            "liaoning": {"value": "8.46%", "index": "5", "stateInitColor": "0"},
            "beijing": {"value": "4.04%", "index": "6", "stateInitColor": "1"},
            "hubei": {"value": "3.66%", "index": "7", "stateInitColor": "1"},
            "jilin": {"value": "2.56%", "index": "8", "stateInitColor": "1"},
            "shanghai": {"value": "2.47%", "index": "9", "stateInitColor": "1"},
            "guangxi": {"value": "2.3%", "index": "10", "stateInitColor": "1"},
            "sichuan": {"value": "1.48%", "index": "11", "stateInitColor": "2"},
            "guizhou": {"value": "0.99%", "index": "12", "stateInitColor": "2"},
            "hunan": {"value": "0.78%", "index": "13", "stateInitColor": "2"},
            "shandong": {"value": "0.7%", "index": "14", "stateInitColor": "2"},
            "guangdong": {"value": "0.44%", "index": "15", "stateInitColor": "2"},
            "jiangxi": {"value": "0.34%", "index": "16", "stateInitColor": "3"},
            "fujian": {"value": "0.27%", "index": "17", "stateInitColor": "3"},
            "yunnan": {"value": "0.23%", "index": "18", "stateInitColor": "3"},
            "hainan": {"value": "0.21%", "index": "19", "stateInitColor": "3"},
            "shanxi": {"value": "0.11%", "index": "20", "stateInitColor": "3"},
            "hebei": {"value": "0.11%", "index": "21", "stateInitColor": "4"},
            "neimongol": {"value": "0.04%", "index": "22", "stateInitColor": "4"},
            "tianjin": {"value": "0.04%", "index": "23", "stateInitColor": "4"},
            "gansu": {"value": "0.04%", "index": "24", "stateInitColor": "4"},
            "shaanxi": {"value": "0.02%", "index": "25", "stateInitColor": "4"},
            "macau": {"value": "0.0%", "index": "26", "stateInitColor": "7"},
            "hongkong": {"value": "0.0%", "index": "27", "stateInitColor": "7"},
            "taiwan": {"value": "0.0%", "index": "28", "stateInitColor": "7"},
            "qinghai": {"value": "0.0%", "index": "29", "stateInitColor": "7"},
            "xizang": {"value": "0.0%", "index": "30", "stateInitColor": "7"},
            "ningxia": {"value": "0.0%", "index": "31", "stateInitColor": "7"},
            "xinjiang": {"value": "0.0%", "index": "32", "stateInitColor": "7"},
            "heilongjiang": {"value": "0.0%", "index": "33", "stateInitColor": "7"},
            "chongqing": {"value": "0.0%", "index": "34", "stateInitColor": "7"}
        };
        var mapObj_1 = {};
        var stateColorList = ['000000', '0058B0', '0071E1', '1C8DFF', '51A8FF', '82C0FF', 'AAD5ee', 'AAD5FF'];
        $('#ChinaMap2').SVGMap({
            external: mapObj_1,
            mapName: 'china',
            mapWidth: 1000,
            mapHeight: 1000,
            stateData: data,
            // stateTipHtml: function (stateData, obj) {
            //     return '基金:' + ((stateData)[obj.id] && (stateData)[obj.id].baifenbi || obj.id) + '<br/>name:' + obj.name;
            // }
            stateTipHtml: function (mapData, obj) {
                $.ajax({
                    url:""
                })
                var _value = mapData[obj.id].value;
                var _idx = mapData[obj.id].index;
                var active = '';
                var aaa="打算打打阿萨德阿萨德阿萨德阿萨德啊"
                _idx < 4 ? active = 'active' : active = '';
                //var tipStr = '<div class="mapInfo" style="width:2px;height: 200px"><i class="' + active + '">' + _idx + '</i><span>' + obj.name + '</span><b>' + _value + '</b></div>';
                var tipStr = '<div class="mapInfo" ><div class="' + active + '">' + aaa + '</div></div>';
                return tipStr;
            }
        });






    });
</script>
</body>
</html>