<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息公开</title>
    <link rel="icon" type="image/x-icon" href="../images/title-logo.png" />
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/base.css">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../js/base.js"></script>
</head>
<body>
<div class="publicmsg">
    <div class="headerbox bg-white border-bottom box-shadow">
        <div class="header  align-items-center">
            <div class="header-logo" >
                <img src="../images/header-logo.png" alt="">
            </div>
            <div class="header-tablist ">
                <div class="tab-item  text-dark visit">
                    <a href="./home.html">首页</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./about.html">关于我们</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./news.html">新闻中心</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./publicmsg.html">信息公开</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./project.html">项目展示</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./donation.html">在线捐赠</a>
                    <span></span>
                </div>
                <div class="tab-item  text-dark">
                    <a href="./contactus.html">联系我们</a>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="banner">
        <img src="../images/about-banner.png" class="img-fluid" alt="">
    </div>
    <div class="content">
        <div class="content-tab border-bottom">
            <div class="tab-item">基金会章程<span></span></div>
            <div class="tab-item">年度报告<span></span></div>
            <div class="tab-item">审计报告<span></span></div>
            <div class="tab-item">年检报告<span></span></div>
        </div>
        <div class="content-box">
            <div class="box-list box-list1">
                <ul class="list-ul">
                    <li class="ul-li border-bottom">
                        <div class="li-info">海南弘毅扶贫慈善基金会-项目管理条例</div>
                        <div class="li-data text-lightgray">2018-8-22</div>
                    </li>
                    <li class="ul-li border-bottom">
                        <div class="li-info">海南弘毅扶贫慈善基金会-项目管理条例</div>
                        <div class="li-data text-lightgray">2018-8-22</div>
                    </li>
                    <li class="ul-li border-bottom">
                        <div class="li-info">海南弘毅扶贫慈善基金会-项目管理条例</div>
                        <div class="li-data text-lightgray">2018-8-22</div>
                    </li>
                    <li class="ul-li border-bottom">
                        <div class="li-info">海南弘毅扶贫慈善基金会-项目管理条例</div>
                        <div class="li-data text-lightgray">2018-8-22</div>
                    </li>
                    <li class="ul-li border-bottom">
                        <div class="li-info">海南弘毅扶贫慈善基金会-项目管理条例</div>
                        <div class="li-data text-lightgray">2018-8-22</div>
                    </li>
                    <li class="ul-li border-bottom">
                        <div class="li-info">海南弘毅扶贫慈善基金会-项目管理条例</div>
                        <div class="li-data text-lightgray">2018-8-22</div>
                    </li>
                    <li class="ul-li border-bottom">
                        <div class="li-info">海南弘毅扶贫慈善基金会-项目管理条例</div>
                        <div class="li-data text-lightgray">2018-8-22</div>
                    </li>


                </ul>
                <div class="page text-center">
                    <div class="page-box ">
                        <div class="page-item">上一页</div>
                        <div class="page-item active">1</div>
                        <div class="page-item">2</div>
                        <div class="page-item">3</div>
                        <div class="page-item">4</div>
                        <div class="page-item">5</div>
                        <div class="page-item">6</div>
                        <div class="page-item">下一页</div>
                    </div>
                </div>
            </div>
            <div class="box-list box-list2">
                <ul class="list-ul">
                    <li class="ul-li border-bottom">
                        <div class="li-info">海南弘毅扶贫慈善基金会-项目管理条例</div>
                        <div class="li-data text-lightgray">2018-8-22</div>
                    </li>
                    <li class="ul-li border-bottom">
                        <div class="li-info">海南弘毅扶贫慈善基金会-项目管理条例</div>
                        <div class="li-data text-lightgray">2018-8-22</div>
                    </li>

                </ul>
                <div class="page text-center">
                    <div class="page-box ">
                        <div class="page-item">上一页</div>
                        <div class="page-item active">1</div>
                        <div class="page-item">2</div>
                        <div class="page-item">3</div>

                        <div class="page-item">下一页</div>
                    </div>
                </div>
            </div>
            <div class="box-list box-list3">
                <ul class="list-ul">
                    <li class="ul-li border-bottom">
                        <div class="li-info">海南弘毅扶贫慈善基金会-项目管理条例</div>
                        <div class="li-data text-lightgray">2018-8-22</div>
                    </li>
                    <li class="ul-li border-bottom">
                        <div class="li-info">海南弘毅扶贫慈善基金会-项目管理条例</div>
                        <div class="li-data text-lightgray">2018-8-22</div>
                    </li>
                    <li class="ul-li border-bottom">
                        <div class="li-info">海南弘毅扶贫慈善基金会-项目管理条例</div>
                        <div class="li-data text-lightgray">2018-8-22</div>
                    </li>
                    <li class="ul-li border-bottom">
                        <div class="li-info">海南弘毅扶贫慈善基金会-项目管理条例</div>
                        <div class="li-data text-lightgray">2018-8-22</div>
                    </li>
                    <li class="ul-li border-bottom">
                        <div class="li-info">海南弘毅扶贫慈善基金会-项目管理条例</div>
                        <div class="li-data text-lightgray">2018-8-22</div>
                    </li>

                </ul>
                <div class="page text-center">
                    <div class="page-box ">
                        <div class="page-item">上一页</div>
                        <div class="page-item active">1</div>
                        <div class="page-item">2</div>
                        <div class="page-item">3</div>
                        <div class="page-item">4</div>
                        <div class="page-item">5</div>
                        <div class="page-item">6</div>
                        <div class="page-item">下一页</div>
                    </div>
                </div>
            </div>
            <div class="box-list box-list4">
                <ul class="list-ul">
                    <li class="ul-li border-bottom">
                        <div class="li-info">海南弘毅扶贫慈善基金会-项目管理条例</div>
                        <div class="li-data text-lightgray">2018-8-22</div>
                    </li>
                    <li class="ul-li border-bottom">
                        <div class="li-info">海南弘毅扶贫慈善基金会-项目管理条例</div>
                        <div class="li-data text-lightgray">2018-8-22</div>
                    </li>
                    <li class="ul-li border-bottom">
                        <div class="li-info">海南弘毅扶贫慈善基金会-项目管理条例</div>
                        <div class="li-data text-lightgray">2018-8-22</div>
                    </li>
                    <li class="ul-li border-bottom">
                        <div class="li-info">海南弘毅扶贫慈善基金会-项目管理条例</div>
                        <div class="li-data text-lightgray">2018-8-22</div>
                    </li>
                    <li class="ul-li border-bottom">
                        <div class="li-info">海南弘毅扶贫慈善基金会-项目管理条例</div>
                        <div class="li-data text-lightgray">2018-8-22</div>
                    </li>
                    <li class="ul-li border-bottom">
                        <div class="li-info">海南弘毅扶贫慈善基金会-项目管理条例</div>
                        <div class="li-data text-lightgray">2018-8-22</div>
                    </li>
                    <li class="ul-li border-bottom">
                        <div class="li-info">海南弘毅扶贫慈善基金会-项目管理条例</div>
                        <div class="li-data text-lightgray">2018-8-22</div>
                    </li>


                </ul>
                <div class="page text-center">
                    <div class="page-box ">
                        <div class="page-item">上一页</div>
                        <div class="page-item active">1</div>
                        <div class="page-item">2</div>
                        <div class="page-item">3</div>
                        <div class="page-item">4</div>

                        <div class="page-item">下一页</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerbox">
        <div class="footer">
            <div class="footer-logo">
                <img src="../images/footer-logo.png" alt="">
            </div>
            <div class="footer-content ">
                <div class="content-tel content-item align-items-center">
                    <img src="../images/footer-tel.png" alt="">
                    <p>400-8301217</p>
                </div>
                <div class="content-email content-item">邮箱: zjh@hpaf.org.cn</div>
                <div class="content-adress content-item">地址: 上海市浦东新区金高路2355号3楼</div>

            </div>
            <div class="footer-code">
                <img src="../images/footer-code.png" alt="">
            </div>
        </div>
    </div>
</div>
</body>
</html>